<div class="article_row">
 <div class="article_column column1 cols1" >
  <h2 class="contentheading">{{ episode.title }}</h2>
  {{ episode.description|textilize|strip_tags|truncate:400 }}
  <p><a href="{{ episode.url_for }}" class="readon"> Lire la suite : {{ episode.title }}</a></p>
 </div>
 <span class="article_separator">&nbsp;</span>
 <span class="row_separator">&nbsp;</span>
</div>