  <div id="banner-top">
   <div id="banner-top-box">
    {% include 're2010/social_networks' %}
    <div id="poupee-cheveux"></div>
   </div>
  </div>
  <div id="banner">
   <h1 id="logo"><a href="http://www.esperanzah.be" title="Homepage" rel="nofollow">Radio Esperanzah!</a></h1>
   <a href="/" id="radio">Esperanzah! World Music Festival</a>
  </div>
