<div class="moduletable">
 <div id="prog">
  <div id="prog-top"></div>
  <div id="prog-middle">
   <p>
    <a href="{{ show.url_for_podcast }}">Suivez la radio grâce au podcast !</a>
   </p>
  </div>
  <div id="prog-bottom"></div>
  <div id="prog-deco"></div>
 </div>
</div>
<div class="moduletable">
 <h3>Mots-clés</h3>
 <ul class="list">
  {% for tag in show.tags limit:15 %}
   {% case tag.name %}
    {% when 'jeudi' %}
    {% when 'vendredi' %}
    {% when 'samedi' %}
    {% when 'dimanche' %}
    {% when 'jean-yves laffineur' %}
    {% else %}
     <li><a href="/tags/{{tag.name}}">{{ tag.name }}</a></li>
   {% endcase %}
  {% endfor %}
 </ul>
</div>
<div class="moduletable">
 <h3>Radios partenaires</h3>
 <ul class="list">
  <li><a href="http://www.48fm.ulg.ac.be/" title="48FM">48FM</a></li>
  <li><a href="http://www.radiopanik.org/" title="Radio Panik">Radio Panik</a></li>
  <li><a href="http://www.run.be/" title="Radio Universitaire Namuroise">Radio Universitaire Namuroise</a></li>
  <li><a href="http://www.radiochango.com/" title="Radio Chango">Radio Chango</a></li>
  <li><a href="http://www.autres-mondes.org/" title="Autres(M)Ondes">Autres(M)Ondes</a></li>
 </ul>
</div>
<div class="moduletable">
 <h3>Archives Radio</h3>
 <ul class="list">
  <li><a href="http://radio-esperanzah-2009.bonnes-ondes.fr/" title="Radio Esperanzah! 2009">Edition 2009</a></li>
  <li><a href="http://radio-esperanzah-2009.bonnes-ondes.fr/" title="Radio Esperanzah! 2008">Edition 2008</a></li>
  <li><a href="http://2007.esperanzah.be/radio/" title="Radio Esperanzah! 2007">Edition 2007</a></li>
  <li><a href="http://www.autres-mondes.org/evenements/2006/radio-esperanzah" title="Radio Esperanzah! 2006">Edition 2006</a></li>
  <li><a href="http://www.autres-mondes.org/evenements/2005/radio-esperanzah" title="Radio Esperanzah! 2005">Edition 2005</a></li>
  <li><a href="http://www.autres-mondes.org/evenements/2004/radio-esperanzah" title="Radio Esperanzah! 2004">Edition 2004</a></li>
 </ul> 
</div>
 

