<html dir="ltr">
 <head>
   {% include 're2010/head' %}
   <title>Radio Esperanzah! 2010</title>
 </head>
 <body>
  {% include 're2010/header' %}
  <div id="global">
   <div id="box">
    <div id="breadcrumb">
     <p>Où suis-je ?
      <span class="breadcrumbs pathway">Radio Esperanzah!</span>
     </p>
    </div>
    <div id="menu">
     <ul id="main-menu">
      <li class="item1">
       <a href="http://www.esperanzah.be"><span>Accueil</span></a>
      </li>
     </ul>
    </div>
    <div id="content">
     <div id="contentarea2"><a name="content"></a>
      <div id="wrapper">
       <div id="main2">
        <h1 class="componentheading">{{ show.name }}</h1>
        <p>{{ show.description | textilize }}</p>
        <div class="blog">
         {% for episode in show.broadcasted_episodes limit:7 %}
          {% include 're2010/episode' %}
			   {% endfor %}
			  </div>
			 </div>
      </div>
     <div id="right">
      {% include 're2010/sidebar' %}
     </div>
    </div>
    <div id="poupee-sax"></div>
    <div id="poupee-bras"></div>
    <div id="menu-left"></div>
    <div id="menu-right"></div>
    <div id="feuille"></div>
   </div>
   <div id="partners"></div>
  </div>
  {% include 're2010/footer' %}
 </body>
</html>