<html dir="ltr">
 <head>
   {% include 'head' %}
   <title>Radio Esperanzah! 2010</title>
 </head>
 <body class="show">
  {% include 'header' %}
  <div id="global">
   <div id="box">
    <div id="breadcrumb">
     <p>Où suis-je ?
      <span class="breadcrumbs pathway">Radio Esperanzah!</span>
     </p>
    </div>
    <div id="menu">
     <ul id="main-menu">
      <li class="item1">
       <a href="http://www.esperanzah.be"><span>Accueil</span></a>
      </li>
     </ul>
    </div>
    <div id="content">
     <div id="contentarea2"><a name="content"></a>
      <div id="wrapper">
       <div id="main2">
        <h1>{{ show.name }}</h1>
        {{ show.description | textilize }}

        <h1>Ecoutez</h1>
        {% for episode in show.broadcasted_episodes limit:7 %}
        {% include 'episode' %}
			  {% endfor %}
			 </div>
      </div>
     <div id="right">
      {% include 'sidebar' %}
     </div>
     {% include 'program' %}
    </div>
    <div id="poupee-sax"></div>
    <div id="poupee-bras"></div>
    <div id="menu-left"></div>
    <div id="menu-right"></div>
    <div id="feuille"></div>
   </div>
   <div id="partners"></div>
  </div>
  {% include 'footer' %}
 </body>
</html>