<html dir="ltr">
 <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="radio, esperanzah, esperanzah!, festival, musique, floreffe, namur, belgique" />
  <meta name="description" content="La radio du festival Esperanzah! - le 5, 6, 7 et 8 août 2010" />
  <title>En direct - Radio Esperanzah! 2010</title>
  <link href="http://www.esperanzah.be/templates/esp2010/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="http://www.esperanzah.be/templates/esp2010/css/template.css" type="text/css" />
  <link rel="stylesheet" href="http://www.esperanzah.be/templates/esp2010/css/position.css" type="text/css" media="screen,projection" />
  <link rel="stylesheet" href="http://www.esperanzah.be/templates/esp2010/css/layout.css" type="text/css" media="screen,projection" />
  <link rel="stylesheet" href="http://www.esperanzah.be/templates/esp2010/css/print.css" type="text/css" media="Print" />
  <link rel="stylesheet" href="http://www.esperanzah.be/templates/esp2010/css/general.css" type="text/css" />
  <link rel="stylesheet" href="http://www.esperanzah.be/templates/esp2010/css/fr-fr.css" type="text/css" />
  <link rel="alternate" type="application/rss+xml" title="{{show.name}}" href="{{ show.url_for_podcast }}" />
  <!--[if lte IE 6]>
	 <link href="http://www.esperanzah.be/templates/esp2010/css/ieonly.css" rel="stylesheet" type="text/css" />
   <style type="text/css">h1,a,div { behavior: url("http://www.esperanzah.be/templates/esp2010/iepngfix/iepngfix.htc");</style>
	<![endif]-->
  <!--[if IE 7]>
	 <link href="http://www.esperanzah.be/templates/esp2010/css/ie7only.css" rel="stylesheet" type="text/css" />
	<![endif]-->
  <!--[if IE 8]> 
   <link href="http://www.esperanzah.be/templates/esp2010/css/ie8only.css" rel="stylesheet" type="text/css" />
  <![endif]-->
 </head>
 <body>
  <div id="banner-top">
   <div id="banner-top-box">
    <div id="social-networks">
     <p>Retrouvez Radio Esperanzah! sur</p>
     <ul>
      <li><a href="http://www.facebook.com/RadioEsperanzah" target="_blank" id="facebook" title="Facebook" rel="nofollow">Facebook</a></li>
     </ul>
    </div>
   </div>
  </div>
  <div id="global">
   <div id="box">
    <div id="breadcrumb">&nbsp;</div>
    <div id="content">
     <div id="contentarea2"><a name="content"></a>
      <div id="wrapper">
       <div id="main2">
        <h1 class="componentheading">Radio Esperanzah! en direct</h1>
        <div class="player" id="page">
         <h3>La radio du festival en direct</h3>
         <embed flashvars="file=http://stream.tryphon.org/live.mp3&autostart=true" height="20" pluginspage="http://www.macromedia.com/go/getflashplayer" src="/flash/mediaplayer.swf" type="application/x-shockwave-flash" width="385" />
         <p class="broadcast">
          Ecoutez avec votre lecteur audio préféré
          <a href="http://stream.tryphon.org/live.ogg.m3u">au format ogg</a> ou <a href="http://stream.tryphon.org/live.mp3.m3u">au format mp3</a>
         </p>
        </div>
			 </div>
      </div>
    </div>
   </div>
  </div>
 </body>
</html>